<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>¡Salvo!</title>
</head>
<body>
<div id="app">


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> Top </th>
                <th> Email </th>
                <th> Games </th>
                <th> Won </th>
                <th> Ties </th>
                <th> Total </th>
            </tr>
            </thead>
            <tbody class="table table-striped">
            <tr v-for="(player, index) in players">
                <th scope="row"> {{index + 1 }} </th>
                <td>{{player.email}} </td>
                <td> {{player.games}} </td>
                <td> {{player.won}} </td>
                <td> {{player.ties}} </td>
                <td> {{player.total}} </td>
            </tr>
            </tbody>

</table>
    <div v-if="currentUser=='Guest'">
    <form id="login-form" onsubmit="return false">
        <label>Name: <input type="text" name="username"></label>
        <label>Password: <input type="password" name="password"></label>
        <button onclick="login()">LOGIN</button>

    </form>


    <!-- Registrarse -->
        <h1>Register</h1>
        <form id="register-form" onsubmit="return false">
            <div class="contenedor-input">
                <label>
                    Email <span class="req">*</span>
                </label>
                <input type="email" name="username" required>
            </div>
            <div class="contenedor-input">
                <label>
                    Contraseña <span class="req">*</span>
                </label>
                <input type="password" name="password" required >
            </div>

            <div class="contenedor-input">
                <label>
                    Repetir Contraseña <span class="req">*</span>
                </label>
                <input type="password" name="password2" required>
            </div>

            <button onclick="register()">Register</button>
        </form>
    </div>


<form id="logout-form" onsubmit="return false" v-else>
    <button onclick="logout()">Log out</button>
</form>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/games.js"></script>

</body>
</html>