<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/games.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap" rel="stylesheet">
    <title>¡Salvo!</title>
</head>
<body>
<div id="app">


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                <div class="container-fluid" v-if="currentUser=='guest'">
                    <div id="login-form">
                        <label>Name: <input v-model="usernameLogin" type="text" name="username"></label>
                        <label>Password: <input v-model="passwordLogin" id="login-password" type="password" name="password"></label>
                        <button type="button" class="btn btn-success" onclick="login()">LOGIN</button>
                    </div>
                </div>
            </div>
                </div>
            </div>

            <!-- Registrarse -->
            <div v-show="currentUser == 'guest'">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Register</h5>
                <div class="col">
                    <div id="register-form">
                        <input v-model="usernameRegistration" placeholder="Email" type="email" name="username" required>
                            <input v-model="passwordRegistration" placeholder="Password" type="password" name="password" required>

                        <button type="button" class="btn btn-success" onclick="register()">Register</button>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <form v-show="currentUser !='guest'" id="logout-form" onsubmit="return false">
                    <button type="button" class="btn btn-success" onclick="logout()">Log out</button>
                </form>
            </div>
            <div class="col">
                <button v-show="currentUser !='guest'" onclick="createGame()">Create game</button>
            </div>


        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>Leaderboard</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th> Top</th>
                        <th> Email</th>
                        <th> Played</th>
                        <th> Won</th>
                        <th> Tied</th>
                        <th>Lost</th>
                        <th> Total</th>
                    </tr>
                    </thead>
                    <tbody class="table table-striped">
                    <tr v-for="(player, index) in players">
                        <th class="table-warning" scope="row"> {{index + 1 }}</th>
                        <td class="table-warning">{{player.email}}</td>
                        <td class="table-warning"> {{player.games}}</td>
                        <td class="table-warning"> {{player.won}}</td>
                        <td class="table-warning"> {{player.ties}}</td>
                        <td class="table-warning"> {{player.lost}}</td>
                        <td class="table-warning"> {{player.total}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Current games</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>N°</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <!-- si está loggeado -->
                        <th v-show="currentUser !='guest'">Join Game</th>
                    </tr>
                    </thead>
                    <tbody class="table table-striped">
                    <tr v-for="game in games">
                        <th class="table-warning"scope="row"> {{game.id}}</th>
                        <td class="table-warning">{{game.gamePlayers[0].name}}</td>
                        <td class="table-warning">{{game.gamePlayers[1] != null ? game.gamePlayers[1].name : "Waiting oponent" }}</td>
                        <!-- si no esta loggeado -->
                        <!-- si el juego esta completo -->
                        <td class="table-warning" v-if="currentUser !='guest' && game.gamePlayers[0] && game.gamePlayers[1]"> Game full</td>
                        <!-- unirse al juego -->
                        <td class="table-warning" v-if="currentUser != 'guest' && game.gamePlayers.length < 2 && currentUser != game.gamePlayers[0].name">
                            <button type="button" class="btn btn-sm btn-success" v-on:click="joinGame(game.id)">JoinGame
                            </button>
                        </td>


                        <!-- volver al juego -->
                        <td v-if="currentUser != 'guest' && (currentUser == game.gamePlayers[0].name || (game.gamePlayers[1] && currentUser == game.gamePlayers[1].name))">
                            <button v-if="currentUser == game.gamePlayers[0].name" type="button" class="btn btn-sm btn-success"
                                    v-on:click="returnToGame(game.gamePlayers[0].gpid)">Return
                            </button>
                            <button v-else v-on:click="returnToGame(game.gamePlayers[1].gpid)">return</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/games.js"></script>

</body>
</html>
